# deepseek
export ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic
export ANTHROPIC_AUTH_TOKEN=${DEEPSEEK_API_KEY}
export API_TIMEOUT_MS=600000
export ANTHROPIC_MODEL=deepseek-chat
export ANTHROPIC_DEFAULT_HAIKU_MODEL=deepseek-chat
export CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1

# mimo
export ANTHROPIC_BASE_URL=https://api.xiaomimimo.com/anthropic
export ANTHROPIC_AUTH_TOKEN=${MIMO_API_KEY}
export API_TIMEOUT_MS=3000000
export ANTHROPIC_MODEL=mimo-v2-pro
export ANTHROPIC_SMALL_FAST_MODEL=mimo-v2-pro
export ANTHROPIC_DEFAULT_HAIKU_MODEL=mimo-v2-pro
export ANTHROPIC_DEFAULT_SONNET_MODEL=mimo-v2-pro
export ANTHROPIC_DEFAULT_OPUS_MODEL=mimo-v2-pro
export CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1

# minimax
export ANTHROPIC_BASE_URL=https://api.minimax.io/anthropic
export ANTHROPIC_AUTH_TOKEN=${MINIMAX_API_KEY}
export API_TIMEOUT_MS=3000000
export ANTHROPIC_MODEL=MiniMax-M2.7
export ANTHROPIC_SMALL_FAST_MODEL=MiniMax-M2.7
export ANTHROPIC_DEFAULT_HAIKU_MODEL=MiniMax-M2.7
export ANTHROPIC_DEFAULT_SONNET_MODEL=MiniMax-M2.7
export ANTHROPIC_DEFAULT_OPUS_MODEL=MiniMax-M2.7
export CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1

# z.ai
export ANTHROPIC_BASE_URL=https://api.z.ai/api/anthropic
export ANTHROPIC_AUTH_TOKEN=${ZAI_API_KEY}
export API_TIMEOUT_MS=3000000
export ANTHROPIC_MODEL=glm-4.7
export ANTHROPIC_SMALL_FAST_MODEL=glm-4.7-air
export ANTHROPIC_DEFAULT_HAIKU_MODEL=glm-4.7
export ANTHROPIC_DEFAULT_SONNET_MODEL=glm-4.7
export ANTHROPIC_DEFAULT_OPUS_MODEL=glm-4.7
export CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1
