name: make-test

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Make test
        run: make test
        shell: bash
      - name: ShellCheck
        run: |
          sudo apt-get install -y shellcheck
          shellcheck scripts/*.sh
